{% extends 'base.html' %}


{% block content %}

<div class="container my-5">
   <p class="text-end"> <a class="text-dark" href="{% url 'port-update' object.pk %}">Edit</a></p>
    <p><strong>Port: </strong> {{object|upper}}</p>

    <p> <strong>Switch: </strong>{{object.switch|upper}}</p>
    <div class="small">
   <strong>VLAN: </strong>
      {% for vlan in object.vlan.all %}
         <small>{{vlan}}-</small>
      {% endfor %}
         
    </div>
    <hr>
    <p> <strong>Note: </strong>{{object.note}}</p>
    
  
        
    <!-- {% for sw in object.switch_set.all %}
   <p> <a href="{% url 'switch-detail' sw.pk %}">{{sw|upper}}</a></p>
{% endfor %} -->
</div>




{% endblock content %}