{% extends 'base.html' %}


{% block content %}
<div class="container my-5">
   <!-- <p><strong>Status: </strong> {{object.get_status_display|title}}</p>

   <p><strong>Port: </strong> {{object.port}}</p>
   <p> <strong>Stack: </strong>{{object.stack|default:'un-stacked'|title}}</p>
   <p> <strong>Switch: </strong>{{object.switch}}</p>
   <p> <strong>Network: </strong>{{object.network}}</p>
   <p> <strong>vlan: </strong>{{object.vlan}}</p>
   <hr>
   <p> <strong>Note: </strong>{{object.note}}</p> -->
   {% for sw in object.switch_set.all %}
   <p> <a href="{% url 'switch-detail' sw.pk %}">{{sw|upper}}</a></p>
{% endfor %}
</div> 



    
{% endblock content %}