{% extends 'base.html' %}


{% block content %}

<div class="container my-5">
    <p><strong>Switch: </strong> {{object|upper}}</p>


    <table class="table table-sm small table-hover">
        <thead>
            <tr>
                <th scope="col">Port</th>
                <th scope="col">network</th>
                <th scope="col">status</th>
                <th scope="col">vlan</th>
                <th scope="col">note</th>
            </tr>
        </thead>
        <tbody>


            {% for port in object.ports.all %}
            <tr
                class="{% if port.status == 'uplink' %} table-danger 
                {% elif port.status == 'MGMT' %} table-danger 
                {% elif port.status == 'voice-data' %} table-success
                {% elif port.status == 'voice' %} table-secondary
                {% elif port.status == 'data' %} table-info
                {% elif port.status == 'WIFI' %} table-primary
                {% elif port.status == 'DMZ' %} table-danger
                {% elif port.status == 'projects' %} table-secondary
                {% endif %}">
                <td>{{port.port}}</td>
                <td>{{port.network}}</td>
                <td>{{port.status}}</td>
                <td>{{port.vlan}}</td>
                <td>{{port.note}}</td>
            </tr>
            {% endfor %}



        </tbody>
    </table>
    <!-- {% for sw in object.switch_set.all %}
   <p> <a href="{% url 'switch-detail' sw.pk %}">{{sw|upper}}</a></p>
{% endfor %} -->
</div>




{% endblock content %}