{% extends 'base.html' %}


{% block content %}

<div class="container my-5">
    <p><strong>Switch: </strong> {{object|upper}}</p>


    <table class="table table-sm small table-hover">
        <thead>
            <tr>
                <th scope="col">Port</th>
                <th scope="col">vlan</th>
                <th scope="col">note</th>
            </tr>
        </thead>
        <tbody>


            {% for port in object.ports.all %}
            <tr
                class="">
                <td>{{port.port}}</td>
                <td>
                    <small>
                        {% for vlan in port.vlan.all %}
                        <span>{{vlan|join:'-'}}</span>
                        {% endfor %}
                    </small>
                 </td>
                <td>{{port.note}}</td>
            </tr>
            {% endfor %}



        </tbody>
    </table>
    <!-- {% for sw in object.switch_set.all %}
   <p> <a href="{% url 'switch-detail' sw.pk %}">{{sw|upper}}</a></p>
{% endfor %} -->
</div>




{% endblock content %}